body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrolling on the entire page */
}

.container {
    display: flex;
    height: 100%;
    overflow: hidden; /* Prevents scrolling within the container */
}

.left, .right {
    flex-basis: 50%; /* Each takes exactly half the width */
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents scrolling within each section */
}

.left {
    background: url('assets/pp.png') no-repeat center center;
    background-size: 100% auto; /* Replace x% with a percentage less than 100% */
    background-position: center; /* Adjust as needed */
}

.right {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form-container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Removed flex-grow and added margin for spacing */
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

input[type=email], button {
    width: 97%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #556;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #667;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left, .right {
        flex-basis: auto;
        width: 100%;
    }
    .left {
        order: 1; /* Image on top on small screens */
    }
    .right {
        order: 2; /* Form/content below the image on small screens */
    }
}

.twitter-follow-button {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px; /* Adjust this value to ensure button stays within the view */
}

.twitter-follow-button a {
    text-decoration: none;
    color: #1DA1F2; /* Twitter's brand color */
    background-color: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
}

.twitter-follow-button a:hover {
    background-color: #E8F5FE; /* Lighter Twitter color for hover effect */
}